<a href="https://colab.research.google.com/github/OsamuHaketa/Travelands/blob/main/python%E5%8B%89%E5%BC%B7%E4%BE%8B%E9%A1%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l = 1
while l < 9998:
    a, b, c = l, l + 1, l + 2

    if a ** 2 + b ** 2 == c ** 2:
        print(a, b, c)
        
    l += 1

3 4 5

In [ ]:
import math
def divisor_s(n):
   sigma=0
   for s in range(1,n+1):
       for t in range(1,s+1):
           sigma+=math.cos(2*math.pi*t*n/s)
   return int(round(sigma,0))

divisor_s(1234567890)

In [ ]:
# フィボナッチ数列生成関数
def fibonacci_list(n):
    fib = [1, 1]
    if n == 1:
        fib = [1]
    else:
        for k in range(2, n):
            fib.append(fib[k-1]+fib[k-2])
    return fib

In [ ]:
fib = fibonacci_list(10)

print(fib)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
def make_divisors(n):
    lower_divisors , upper_divisors = [], []
    i = 1
    while i*i <= n:
        if n % i == 0:
            lower_divisors.append(i)
            if i != n // i:
                upper_divisors.append(n//i)
        i += 1
    return lower_divisors + upper_divisors[::-1]

In [ ]:
div = make_divisors(10)

print(div)

[1, 2, 5, 10]

In [ ]:
def calculate_divisor(num):
    divisor = [i for i in range(1,num + 1) if num % i == 0]
    return divisor

def calculate_limited_divisor(num,divisor_range):
    limited_divisor = [i for i in range(1,divisor_range + 1) if num % i == 0]
    return limited_divisor

num = int(input("約数の総和を出したい整数を入力してください："))
divisor_range = int(input("和を出したい約数の範囲を指定してください："))
result = calculate_divisor(num)
result2 = calculate_limited_divisor(num,divisor_range)

print("約数の数は" + str(len(result)) + "です")
print("約数の総和は" + str(sum(result)) + "です")
print((str(divisor_range) + "以下の約数の和は" + str(sum(result2)) + "です"))

約数の総和を出したい整数を入力してください：1234567890
和を出したい約数の範囲を指定してください：20000000
約数の数は48です
約数の総和は3211610688です
20000000以下の約数の和は15451595です

In [ ]:
def Trib(n):
    a, b, c = 1, 0, 5
    if n == 0:
        return a
    elif n == 1:
        return b
    elif n == 2:
        return c
    else:
        for i in range(n-2):
            a, b, c = b, c, a + b + c
        return c

print([Trib(n) for n in range(31)])

def Tetra(n):
    a, b, c, d = 0, 0, 0, 1
    if n == 0:
        return a
    elif n == 1:
        return b
    elif n == 2:
        return c
    elif n == 3:
        return d
    else:
        for i in range(n-3):
            a, b, c, d = b, c, d, a + b + c + d
        return d

print([Tetra(n) for n in range(31)])

[1, 0, 5, 6, 11, 22, 39, 72, 133, 244, 449, 826, 1519, 2794, 5139, 9452, 17385, 31976, 58813, 108174, 198963, 365950, 673087, 1238000, 2277037, 4188124, 7703161, 14168322, 26059607, 47931090, 88159019]
[0, 0, 0, 1, 1, 2, 4, 8, 15, 29, 56, 108, 208, 401, 773, 1490, 2872, 5536, 10671, 20569, 39648, 76424, 147312, 283953, 547337, 1055026, 2033628, 3919944, 7555935, 14564533, 28074040]

In [ ]:
a=range(1,30000)
c=0
for i in a:
    if (i%3==0) or ('3' in str(i)):
        c=c+1
print(c)

In [ ]:
def create_number_list(x):
    number_list = []
    if x <= 0: return number_list
    for i in range(1, x+1, 1):
        if i%3 == 0 or ('3' in str(i)):
            number_list.append(i)
    return number_list
 
if __name__ == '__main__':
    d = sum(create_number_list(40000))
print(d)

600726804

In [ ]:
ans = 0
n = 0
while ans < 15:
  n += 1
  ans += 1 / n
print(n-1)
print(ans - 1/(n))
print(n)
print(ans)

1835420
14.999999833433106
1835421
15.000000378267234

In [1]:
i = 2049
lst = []
while i > 0:
    lst.append(i%10)
    i //= 10
lst.reverse()
print(lst)

[2, 0, 4, 9]

In [4]:
num = 123456789
x = [int(a) for a in str(num)]
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
import math
n = 123456789
x = [(n//(10**i))%10 for i in range(math.ceil(math.log(n, 10))-1, -1, -1)]
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
str1 = '123456789'
A = 1
result = []
for i in range(0, len(str1), A):
    result.append(int(str1[i : i + A]))
print("result : " + str(result))

result : [1, 2, 3, 4, 5, 6, 7, 8, 9]